[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ePCR"]
	path = ePCR
	url = https://github.com/syksy/epcr
[submodule "hamlet"]
	path = hamlet
	url = https://github.com/syksy/hamlet
[submodule "oscar"]
	path = oscar
	url = https://github.com/syksy/oscar
